.settings/
target/
.classpath
.project

# Build folders
bin/
target/
test-output/
allure-report/
allure-results/
 
# IDE config files
.classpath
.project
.settings/
.vscode/
 
# Logs
*.log
 
# OS-specific files
.DS_Store
Thumbs.db