<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cucumber Test Suite" verbose="1" parallel="false">
    <!-- Register your ITestListener implementation -->
    <listeners>
        <listener class-name="stepdefinitions.ListenerTest"/>
    </listeners>
    <!-- Define the test block -->
    <test name="Cucumber Tests">
        <classes>
            <!-- Your Cucumber TestNG runner class -->
            <class name="runner.TestRunner"/>
        </classes>
    </test>
</suite>